# =========================

# Python

# =========================

# Virtual environments

backend/.venv/
.venv/

# Python cache

**pycache**/
*.py[cod]
*$py.class

# Pytest

.pytest_cache/

# Environment variables

.env
.env.*

# =========================

# Angular / Node

# =========================

# Dependencies

frontend/node_modules/
node_modules/

# Angular build output

frontend/dist/
dist/

# Angular cache

frontend/.angular/
.angular/

# =========================

# IDE

# =========================

# VS Code

.vscode/

# Visual Studio

.vs/

# =========================

# Operating System

# =========================

# Windows

Thumbs.db
Desktop.ini

# macOS

.DS_Store

# =========================

# Logs

# =========================

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
